<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>
            <ul class="subnav">
                <script>
                    console.log({{ .Categories }})
                </script>
                {{ range $i, $category := .Categories }}
                <li><a href="/category/{{ $category.Category.Id }}" class="fruit">{{ $category.Category.Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a href="/">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>